{{/* 
https://ieee-dataport.org/sites/default/files/analysis/27/IEEE%20Citation%20Guidelines.pdf
*/}}

{{- $context := index . "context" -}}
{{- $bibentry := index . "bibentry" -}}

{{- if eq $bibentry.type "book" -}}
{{- partial "styles/ieee/types/book" $bibentry -}}
{{- else if (eq $bibentry.type "chapter") -}}
{{- partial "styles/ieee/types/chapter" $bibentry -}}
{{- else if (eq $bibentry.type "broadcast") -}}
{{- partial "styles/ieee/types/broadcast" $bibentry -}}
{{- else if or (eq $bibentry.type "article-journal") (eq $bibentry.type "article") -}}
{{- partial "styles/ieee/types/article" $bibentry -}}
{{- else if (eq $bibentry.type "paper-conference") -}}
{{- partial "styles/ieee/types/conference-paper" $bibentry -}}
{{- else if eq $bibentry.type "webpage" -}}
{{- partial "styles/ieee/types/webpage" $bibentry -}}
{{- else -}}
{{- warnf "Bibliography type '%s' is not implemented. Defaulting to type 'book': %s" $bibentry.type $context.Position -}}
{{- partial "styles/ieee/types/book" $bibentry -}}
{{- end -}}
