{{- $context := index . "context" -}}

{{- $entryId := "" -}}
{{- if index . "entryId" -}}
{{- $entryId = index . "entryId" -}}
{{- else if $context.Get 0 -}}
{{- $entryId = $context.Get 0 -}}
{{- else -}}
{{- errorf "No entry ID was provided: %s" .Position -}}
{{- end -}}

{{- $stylePath := "styles/ieee/main.html" -}}
{{- $bibEntries := partial "get-bib-entries" $context -}}
{{- $bibEntry := partial "get-bib-entry" (dict "context" $context "bibEntries" $bibEntries "entryId" $entryId) -}}

{{- partial $stylePath (dict "context" $context "bibEntry" $bibEntry) -}}
