{{ $bibfilePath := path.Join "content" .Page.File.Dir "bib.json" }}
{{ $bibentries := getJSON $bibfilePath }}
{{ $bibliography := "" }}

{{ if $bibentries }}
    {{ $sorting := .Page.Params.bibliography_sort }}

    {{ if or (not $sorting) (eq $sorting "date_descending") }}
        {{ $tagged_entries := slice }}
        {{ range $bibentry := $bibentries }}
            {{ $tagged_entries = $tagged_entries | append
                (dict "year" (index (index (index (index $bibentry "issued") "date-parts") 0) 0)
                      "entry" $bibentry
                )
            }}
        {{ end }}

        {{ $sorted_entries := slice }}
        {{ range $entry:= sort $tagged_entries "year" "desc" }}
            {{ range $k, $v := $entry }}
                {{ if eq $k "entry" }}
                    {{ $sorted_entries = $sorted_entries | append $v }}
                {{end}}
            {{ end }}
        {{ end }}
        {{ $bibliography = $sorted_entries }}

    {{ else if (eq $sorting "json_order")}}
        {{ $bibliography = $bibentries }}
    {{ end }}

{{ else }}
    {{- errorf "No bib.json file was found at position: %s" .Position -}}
{{ end }}

{{ return $bibliography }}
