{{- $context := index . "context" -}}
{{- $bibEntries := index . "bibEntries" -}}
{{- $entryId := index . "entryId" -}}

{{- $bibEntry := "" -}}
{{- $relevantBibEntries := where $bibEntries "id" $entryId -}}
{{- $numRelevantBibEntries := len $relevantBibEntries -}}
{{- if (eq $numRelevantBibEntries 0) -}}
{{- errorf "No entries with ID '%s' were found: %s" $entryId $context.Position -}}
{{- else if (gt $numRelevantBibEntries 1) -}}
{{- errorf "More than one entry with ID '%s' was found: %s" $entryId $context.Position -}}
{{- else if (eq $numRelevantBibEntries 1) -}}
{{- $bibEntry = index $relevantBibEntries 0 -}}
{{- end -}}

{{- return $bibEntry -}}
