{{- $context := index . "context" -}}

{{- $bibentryId := "" -}}
{{- if index . "bibentryId" -}}
{{- $bibentryId = index . "bibentryId" -}}
{{- else if $context.Get 0 -}}
{{- $bibentryId = $context.Get 0 -}}
{{- else -}}
{{- errorf "No bibliographic entry ID was provided: %s" .Position -}}
{{- end -}}

{{- $stylePath := "styles/ieee/main.html" -}}
{{- $bibentries := partial "get-bibentries" $context -}}
{{- $bibentry := partial "get-bibentry" (dict "context" $context "bibentries" $bibentries "bibentryId" $bibentryId) -}}

{{- partial $stylePath (dict "context" $context "bibentry" $bibentry) -}}
