{{- $context := . -}}

{{- $entryId := "" -}}
{{- with .Get 0 -}}
{{- $entryId = . -}}
{{- else -}}
{{- errorf "No entry ID was provided: %s" .Position -}}
{{- end -}}

{{- $bibFilePath := "" }}
{{- $bibEntries := "" -}}

{{/* Check for a JSON file in the leaf bundle. */}}
{{- $pageResource := .Page.Resources.GetMatch "*bib*.json" -}}
{{- if $pageResource }}
{{- $constructedBibResource := printf "content/%s%s" .Page.File.Dir $pageResource.Name }}
{{- $bibFilePath = $constructedBibResource }}
{{- $bibEntries = getJSON $bibFilePath -}}
{{- else -}}
{{- errorf "No JSON file was found: %s" .Position -}}
{{- end }}

{{- $numCitedEntries := 0 -}}
{{- with (.Page.Scratch.Get "citedEntries") -}}
{{- $numCitedEntries = len . -}}
{{- end -}}

{{- range where $bibEntries "id" "eq" $entryId -}}

{{- $wasAlreadyCited := false -}}
{{- $entry := . -}}
{{- $referenceIdx := 0 -}}

{{- with ($context.Page.Scratch.Get "referenceIdxs") -}}
{{- if isset . $entryId -}} 
{{- $referenceIdx = index . $entryId -}}
{{- $wasAlreadyCited = true -}}
{{- end -}}
{{- end -}}

{{- if not $wasAlreadyCited -}}
{{- $context.Page.Scratch.Add "citedEntries" (slice $entry) -}}
{{- $referenceIdx = (add $numCitedEntries 1) -}}
{{- $.Page.Scratch.SetInMap "referenceIdxs" $entryId $referenceIdx -}}
{{- end -}}

{{- with $referenceIdx -}}
[<a href="#reference-{{ . }}">{{ . }}</a>]
{{- end -}}

{{- else -}}
{{- errorf "Could not find bibliographic entry with ID '%s': %s" $entryId .Position -}}
{{- end }}
